*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
}


.upper-container {
  display: flex;
  justify-content: space-between;
}

.space-between {
  margin-top: 20px;
}


/* Search Input */

.search-container {
  display: flex;
  border-bottom: 3px solid white;
  width: 280px;
  padding: 0px 5px 5px 10px;
  margin: 0px 40px 0px 0px;
}

#searchInput {
  background-color: transparent;
  border: 0;
  width: 250px;
  font-weight: 700;
  font-size: 1.4rem;
}

#searchInput:focus {
  outline: none;
}


#searchButton {
  height: 24px;
  width: 24px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* opacity = for Firefox */
  font-weight: 700;
  font-size: 1.4rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

/* Todays weather info */

#error {
  margin-top: 5px;
}

#place {
  font-size: 1.8rem;
  font-weight: 500;
}

#temperature {
  font-size: 4rem;
  font-weight: bold;
}

#weatherCondition {
  font-size: 1.8rem;
  font-weight: 500;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 40px;
  margin-right: 10px;
}

#temperatureFeelsLike,
#humidity,
#windSpeed {
  font-size: 1.4rem;
  font-weight: 600;
}


#lower-container {
  display: flex;
  gap: 5vw;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 10vh;
  position: absolute;
  bottom: 30px;
}

@media (max-height: 500px) {
  #lower-container {
    position: static;
  }
}

@media (max-width: 800px) {
  #lower-container {
    flex-direction: column;
    position: static;
  }
}

@media (max-width: 600px) {

  body {
    padding: 30px;
  }

  .search-container {
    border-bottom: 2px solid white;
    width: 190px;
    margin: 0px 20px 0px 0px;
  }

  #searchInput {
    border: 0;
    width: 150px;
    font-weight: 700;
    font-size: 1.1rem;
  }

  #searchButton {
    height: 18px;
    width: 18px;
  }

  ::placeholder {
    font-size: 0.9rem;
  }

  :-ms-input-placeholder {
    font-size: 0.9rem;
  }

  ::-ms-input-placeholder {
    font-size: 0.9rem;
  }


  #temperatureFeelsLike,
  #humidity,
  #windSpeed {
    font-size: 1.1rem;
    font-weight: 600;
  }
}